<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE struts PUBLIC "-//Apache Software Foundation//DTD Struts Configuration 2.0//EN"
    "http://struts.apache.org/dtds/struts-2.0.dtd">

<struts>

	<package name="settings_log" extends="default" namespace="/settings/log">
		<action name="list" class="accessAction" method="list">
			<result name="input">/pages/settings/log/list.jsp</result>	
			<result name="success">/pages/settings/log/list.jsp</result>	
        </action>
        
		<action name="compare" class="accessAction" method="compare">
			<result name="input">/pages/settings/log/list.jsp</result>	
			<result name="success">/pages/settings/log/compare.jsp</result>	
        </action>
    </package>
    
    <package name="settings_scheduler" extends="default" namespace="/settings/scheduler">
    	<action name="list" class="schedulerAction" method="listTriggers">
			<result name="input">/pages/settings/scheduler/list_triggers.jsp</result>	
			<result name="success">/pages/settings/scheduler/list_triggers.jsp</result>	
        </action>
        
    	<action name="toggle" class="schedulerAction" method="toggle">
			<result name="success" type="chain">list</result>	
        </action>
	</package>
	
    <package name="settings_uom" extends="default" namespace="/settings/uom">
    	<action name="edit" class="uomAction" method="edit">
			<result name="input">/pages/settings/uom/profile.jsp</result>	
			<result name="success">/pages/settings/uom/profile.jsp</result>	
        </action>
        
    	<action name="save" class="uomAction" method="save">
			<result name="input">/pages/settings/uom/profile.jsp</result>	
			<result name="success" type="redirectAction">list</result>	
        </action>
        
    	<action name="toggle" class="uomAction" method="toggle">
			<result name="input" type="redirectAction">list</result>
			<result name="success" type="redirectAction">list</result>
        </action>
        
    	<action name="list" class="uomAction" method="list">
			<result name="input">/pages/settings/uom/list.jsp</result>	
			<result name="success">/pages/settings/uom/list.jsp</result>	
        </action>
        
    </package>
    
    <package name="settings_tree" extends="default" namespace="/settings/tree">
    	<action name="edit" class="treeAction" method="edit">
			<result name="input">/pages/settings/tree/profile.jsp</result>	
			<result name="success">/pages/settings/tree/profile.jsp</result>	
        </action>
        
    	<action name="save" class="treeAction" method="save">
			<result name="input">/pages/settings/tree/profile.jsp</result>	
			<result name="success" type="redirectAction">list</result>	
        </action>
        
    	<action name="list" class="treeAction" method="list">
			<result name="input">/pages/settings/tree/list.jsp</result>	
			<result name="success">/pages/settings/tree/list.jsp</result>	
        </action>
        
        <action name="unique" class="treeAction" method="unique">
			<result name="success" type="json">
				<param name="includeProperties">unique</param>
			</result>
        </action>
    </package>
    
    <package name="settings_geo" extends="default" namespace="/settings/geo">
    	<action name="edit" class="geoAction" method="edit">
			<result name="input">/pages/settings/geo/profile.jsp</result>	
			<result name="success">/pages/settings/geo/profile.jsp</result>	
        </action>
        
    	<action name="save" class="geoAction" method="save">
			<result name="input">/pages/settings/geo/profile.jsp</result>	
			<result name="success" type="redirectAction">list</result>	
        </action>
        
    	<action name="toggle" class="geoAction" method="toggle">
			<result name="input" type="redirectAction">list</result>
			<result name="success" type="redirectAction">list</result>
        </action>
        
    	<action name="list" class="geoAction" method="list">
			<result name="input">/pages/settings/geo/list.jsp</result>	
			<result name="success">/pages/settings/geo/list.jsp</result>	
        </action>
    </package>
    
    <package name="settings_organization" extends="default" namespace="/settings/organization">
    	<action name="viewparent" class="organizationAction" method="viewparent">
			<result name="input">/pages/party/organization/profile_parent_org.jsp</result>	
			<result name="success">/pages/party/organization/view_parent_org.jsp</result>	
        </action>
        
    	<action name="initparent" class="organizationAction" method="initparent">
			<result name="input">/pages/party/organization/profile_parent_org.jsp</result>
			<result name="success" type="chain">viewparent</result>	
        </action>
        
		<action name="removecontact" class="partyContactAction" method="remove">
			<result name="success" type="chain">viewparent</result>	
		</action>
	</package>
	
</struts>