<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<!-- Hibernate SessionFactory JPA-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" lazy-init="true">
        <property name="dataSource" ref="dataSource" />       
        <property name="annotatedClasses">
            <list>
                <!-- project entity -->
                <value>com.google.code.lightssh.project.sequence.entity.Sequence</value>
                <value>com.google.code.lightssh.project.scheduler.entity.JobInterval</value>
                <value>com.google.code.lightssh.project.identity.entity.Identity</value>
                <value>com.google.code.lightssh.project.uom.entity.UnitOfMeasure</value>
                <value>com.google.code.lightssh.project.uom.entity.Currency</value>
                <value>com.google.code.lightssh.project.geo.entity.GeographicBoundary</value>
                <value>com.google.code.lightssh.project.geo.entity.GeoAssociation</value>
                <value>com.google.code.lightssh.project.log.entity.Access</value>
                <value>com.google.code.lightssh.project.log.entity.History</value>
                <value>com.google.code.lightssh.project.log.entity.LoginLog</value>
                <value>com.google.code.lightssh.project.tree.entity.Tree</value>
                <value>com.google.code.lightssh.project.tree.entity.Node</value>
                <value>com.google.code.lightssh.project.security.entity.Role</value>
                <value>com.google.code.lightssh.project.security.entity.Permission</value>
                <value>com.google.code.lightssh.project.security.entity.Navigation</value>
                <value>com.google.code.lightssh.project.security.entity.LoginAccount</value>
                <value>com.google.code.lightssh.project.contact.entity.ContactMechanism</value>
                <value>com.google.code.lightssh.project.contact.entity.PostalAddress</value>
                <value>com.google.code.lightssh.project.contact.entity.TelephoneNumber</value>
                <value>com.google.code.lightssh.project.party.entity.Party</value>
                <value>com.google.code.lightssh.project.party.entity.Person</value>
                <value>com.google.code.lightssh.project.party.entity.Organization</value>
                <value>com.google.code.lightssh.project.party.entity.PartyRole</value>
                <value>com.google.code.lightssh.project.party.entity.PartyRelationship</value>
                <value>com.google.code.lightssh.project.party.entity.PartyContact</value>
                
            </list>
        </property>
       
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.query.substitutions">true 'Y', false 'N'</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
            </props>
        </property>   
    </bean>
	
	<!-- 无实现类的bean -->
	
    <!-- DAO|jobInterval -->
	<bean id="jobIntervalDao" class="com.google.code.lightssh.common.dao.hibernate.HibernateDao">
		<constructor-arg>
    		<value>com.google.code.lightssh.project.scheduler.entity.JobInterval</value>
    	</constructor-arg>    
        <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- DAO|security permission -->
	<bean id="permissionDao" class="com.google.code.lightssh.common.dao.hibernate.HibernateDao">
		<constructor-arg>
    		<value>com.google.code.lightssh.project.security.entity.Permission</value>
    	</constructor-arg>    
        <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- DAO|tree node -->
	<bean id="nodeDao" class="com.google.code.lightssh.common.dao.hibernate.HibernateDao">
		<constructor-arg>
    		<value>com.google.code.lightssh.project.tree.entity.Node</value>
    	</constructor-arg>    
        <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- LOG|loginlog -->
	<bean id="loginLogDao" class="com.google.code.lightssh.common.dao.hibernate.HibernateDao">
		<constructor-arg>
			<value>com.google.code.lightssh.project.log.entity.LoginLog</value>
    	</constructor-arg>
        <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- SERVICE|security permission -->
	<bean id="permissionManager" class="com.google.code.lightssh.common.service.BaseManagerImpl">
		<property name="dao" ref="permissionDao" />
	</bean>
	
</beans>