<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">
	
	<!-- springSecurityFilterChain 与 web.xml 对应 -->
	<bean id="springSecurityFilterChain" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
	    <property name="securityManager" ref="securityManager"/>
	    <property name="loginUrl" value="/login.do"/>
	    <property name="successUrl" value="/welcome.do"/>
	    <property name="unauthorizedUrl" value="/403.do"/>
	    <property name="filters">
			<util:map>
				<entry key="authc" value-ref="captchaFormAuthenticationFilter"/>
				<entry key="mysi" value-ref="sessionInvalidateFilter"/>
			</util:map>
		</property>
	    <property name="filterChainDefinitions">
	        <value>
	        	/=anon
	        	/login.do*=authc
	        	/logout.do*=anon
	        	
	        	/styles/**=anon
	        	/scripts/**=anon
	        	/files/**=anon
	        	/images/**=anon
	        	/pages/security/system/**=anon
	        	/index.jsp=anon
	        	/index.do*=anon
	        	
	            #权限配置
	           
	            /security/account/edit.do=authc,perms[SECURITY_ACCOUNT_EDIT]
	            /security/account/save.do=authc,perms[SECURITY_ACCOUNT_EDIT]
	            
	            #last
	            /** = authc,mysi
	        </value>
	    </property>
	</bean>
		
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
	    <property name="realm" ref="myShiroRealm"/>
	    <!--<property name="sessionMode" value="native"/>-->
	</bean>
	
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

	<bean id="myShiroRealm" class="com.google.code.lightssh.project.security.shiro.MyShiroRealm">
		<property name="accountManager" ref="loginAccountManager"/>
		<property name="cacheManager" ref="shiroCacheManager"/>
	</bean>
	
	<bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManager" ref="cacheManager"/>
	</bean>
	
	<bean id="captchaFormAuthenticationFilter" class="com.google.code.lightssh.project.security.shiro.CaptchaFormAuthenticationFilter">
		<property name="usernameParam" value="j_username"/>
		<property name="passwordParam" value="j_password"/>
		<property name="captchaParam" value="j_captcha"/>
		<property name="accessManager" ref="accessManager"/>
	</bean>
	
</beans>